<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HST - Dashboard</title>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
      type="text/javascript"
    ></script>
    <link href="/css/tailwind.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/flowbite@1.5.5/dist/flowbite.min.css"
    />
    <script src="https://unpkg.com/flowbite@1.6.0/dist/flowbite.min.js"></script>
    <link href="https://fonts.cdnfonts.com/css/dm-sans" rel="stylesheet" />
  </head>
  <style>
    body {
      font-family: "DM Sans", sans-serif;
    }
  </style>
  <body style="background-color:#222222">

    <!-- Navbar -->

    <div class="navbar" style="background-color: #111111">
      <div class="navbar-start">
        <div class="dropdown">
          <label tabindex="0" class="btn btn-ghost lg:hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h8m-8 6h16"
              />
            </svg>
          </label>
          <ul
            tabindex="0"
            class="menu menu-compact dropdown-content mt-3 p-2 shadow rounded-box w-52 text-white"
            style="background-color: #111111"
          >
          <li><a class="rounded-lg" href="#">Dashboard</a></li>
          <li><a class="rounded-lg" href="/roster">Members</a></li>
          <li><a class="rounded-lg" href="/jobs">Jobs</a></li>
          </ul>
        </div>
        <a class="normal-case text-xl font-semibold ml-3 text-white">HighSpeed</a>
      </div>
      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1 text-white">
          <li><a class="rounded-lg" href="#">Dashboard</a></li>
          <li><a class="rounded-lg" href="/roster">Members</a></li>
          <li><a class="rounded-lg" href="/jobs">Jobs</a></li>
        </ul>
      </div>
      <div class="navbar-end">
        <div class="dropdown dropdown-end">
          <label tabindex="0" class="btn btn-ghost btn-circle avatar">
            <div class="w-10 rounded-full">
              <img src="<%= user.avatar %>" />
            </div>
          </label>
          <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow rounded-box text-center" style="background-color:#111111;width: 150px">
            <li><a href="/profile/<%= user.userID %>">Profile</a></li>
            <li><a>Settings</a></li>
            <% if (user.admin == true) { %>
              <li><a>Admin</a></li>
            <% } %>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Welcome Back Banner -->
    <div class="hero" style="background-image: url('https://cdn.discordapp.com/attachments/1057262035878035546/1061183862450950184/ets2_20230106_233139_00.png')">
      <div class="hero-overlay"></div>
      <div class="hero-content text-center text-neutral-content mt-8 mb-8">
        <div class="max-w-md p-8">
            <h1 class="text-5xl font-bold text-white">Welcome back,</h1>
            <h1 class="text-5xl font-bold text-white text-center"><%= user.username %>!</h1>
        </div>
      </div>
    </div>

    <!-- Statistics -->
    
    <div class="flex flex-wrap mt-8 mb-4 justify-center">
      <h1 class="text-2xl text-white text-bold text-center">Statistics</h1>
    </div>
    <div class="flex flex-wrap justify-center mt-6 gap-2">
      <div>
        <div class="card w-60" style="background-color: #111111">
          <div class="card-body">
            <div class="text-center">
              <h1 class="text-2xl text-white text-semibold"><%= stats.jobs %></h1>
              <h1 class="text-xl text-white text-semibold">Total Deliveries</h1>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="card w-60" style="background-color: #111111">
          <div class="card-body">
            <div class="text-center">
              <h1 class="text-2xl text-white text-semibold"><%= stats.drivers %></h1>
              <h1 class="text-xl text-white text-semibold">Total Drivers</h1>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="card w-60" style="background-color: #111111">
          <div class="card-body">
            <div class="text-center">
              <h1 class="text-2xl text-white text-semibold">€ <%= stats.income %></h1>
              <h1 class="text-xl text-white text-semibold">Total Revenue</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Recent Deliveries -->
    <div class="flex flex-wrap mt-8 mb-4 justify-center">
      <h1 class="text-2xl text-white text-bold text-center">Recent Deliveries</h1>
    </div>
    <div class="flex flex-wrap justify-center">
      <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
          <table class="text-sm text-left text-gray-500 dark:text-gray-400" style="width: 725px">
              <thead class="text-xs text-white uppercase" style="background-color:#111111">
                  <tr>
                      <th scope="col" class="py-3 px-6">
                          #
                      </th>
                      <th scope="col" class="py-3 px-6">
                          Driver
                      </th>
                      <th scope="col" class="py-3 px-6">
                          From - To
                      </th>
                      <th scope="col" class="py-3 px-6">
                          Distance
                      </th>
                      <th scope="col" class="py-3 px-6">
                        View
                    </th>
                  </tr>
              </thead>
              <tbody>
                <% for(var i = 0; i < jobs.length; i++) { %>
                      <tr style="background-color:#111111">
                          <th scope="row" class="py-4 px-6 font-medium whitespace-nowrap text-white">
                              <%= jobs[i].id %>
                          </th>
                          <th class="py-4 px-6 font-medium text-white">
                            <a href="/profile/<%= jobs[i].driver.userID %>"><%= jobs[i].driver.username %></a>
                          </th>
                          <th class="py-4 px-6 font-medium text-white">
                            <%= jobs[i].source_city.name %> - <%= jobs[i].destination_city.name %>
                          </th>
                          <th class="py-4 px-6 font-medium text-white">
                            <%= jobs[i].driven_distance %> km
                          </th>
                          <th class="py-4 px-6 font-medium text-white">
                            <a href="/jobs/<%= jobs[i].id %>">Details</a>
                          </th>
                      </tr>
                <% } %>
              </tbody>
          </table>
      </div>
  </div>

  <br />
  </body>
</html>
