<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HST - Dashboard</title>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
      type="text/javascript"
    ></script>
    <link href="/css/tailwind.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/flowbite@1.5.5/dist/flowbite.min.css"
    />
    <script src="https://unpkg.com/flowbite@1.6.0/dist/flowbite.min.js"></script>
    <link href="https://fonts.cdnfonts.com/css/dm-sans" rel="stylesheet" />
  </head>
  <style>
    body {
      font-family: "DM Sans", sans-serif;
    }
    section {
      min-height: 100vh;
    }
  </style>
  <body style="background-color: #222222">
    <!-- Navbar -->

    <section>
      <div class="navbar" style="background-color: #111111">
        <div class="navbar-start">
          <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost lg:hidden">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h8m-8 6h16"
                />
              </svg>
            </label>
            <ul
              tabindex="0"
              class="menu menu-compact dropdown-content mt-3 p-2 shadow rounded-box w-52 text-white"
              style="background-color: #111111"
            >
              <li><a class="rounded-lg" href="/">Dashboard</a></li>
              <li><a class="rounded-lg" href="/roster">Members</a></li>
              <li><a class="rounded-lg" href="/jobs">Jobs</a></li>
            </ul>
          </div>
          <a class="normal-case text-xl font-semibold ml-3 text-white"
            >HighSpeed</a
          >
        </div>
        <div class="navbar-center hidden lg:flex">
          <ul class="menu menu-horizontal px-1 text-white">
            <li><a class="rounded-lg" href="/">Dashboard</a></li>
            <li><a class="rounded-lg" href="/roster">Members</a></li>
            <li><a class="rounded-lg" href="/jobs">Jobs</a></li>
          </ul>
        </div>
        <div class="navbar-end">
          <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar">
              <div class="w-10 rounded-full">
                <img src="<%= user.avatar %>" />
              </div>
            </label>
            <ul
              tabindex="0"
              class="menu menu-compact dropdown-content mt-3 p-2 shadow rounded-box text-center"
              style="background-color: #111111; width: 150px"
            >
              <li><a href="/profile/<%= user.userID %>">Profile</a></li>
              <li><a>Settings</a></li>
              <% if (user.admin == true) { %>
              <li><a>Admin</a></li>
              <% } %>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="hero">
        <div class="hero-content text-center text-neutral-content mt-8 mb-8">
          <div class="max-w-md p-8">
            <h1 class="text-5xl font-bold text-white">Settings</h1>
          </div>
        </div>
      </div>

      <!-- Avatar -->

      <div class="flex flex-wrap justify-center gap-2 mb-8">
        <div class="card" style="background-color: #111111">
          <div class="card-body">
            <img
              src="<%= user.avatar %>"
              class="relative rounded-full object-left mx-auto"
              style="height: 136px"
              id="editAvatarImg"
            />
            &nbsp; &nbsp;
            <form
              action="/settings/avatar"
              method="POST"
              id="avatarform"
              enctype="multipart/form-data"
              style
            >
              <input
                type="file"
                id="avatar"
                accept="image/*"
                required=""
                style="display: none"
              />
              <label for="avatar" id="labelavatar" class="btn btn-primary">
                Upload Avatar
              </label>
              &nbsp;
              <a href="/settings/avatar/remove">
                <label class="btn text-white" style="background-color: red">
                  Remove Avatar
                </label>
              </a>
            </form>
          </div>
        </div>
        <div
          class="card w-full"
          style="background-color: #111111; width: 250px"
        >
          <div class="card-body text-white">
            <label for="username"> Username </label>
            <input
              type="username"
              id="username"
              class="p-2 rounded-lg"
              placeholder="Username"
              value="<%= user.username %>"
              style="background-color: #333333"
            />
            <label for="email"> Email </label>
            <input
              type="email"
              class="p-2 rounded-lg"
              id="email"
              placeholder="Email"
              value="<%= user.email %>"
              style="background-color: #333; border: #333"
            />

            <div
              class="btn btn-primary btn-block"
              id="submit-userinfo"
              style="margin-top: 15px"
            >
              Submit
            </div>
          </div>
        </div>
        <div
          class="card w-full"
          style="background-color: #111111; width: 250px"
        >
          <div class="card-body text-white">
            <label for="password"> New Password </label>
            <input
              type="password"
              id="password"
              class="p-2 rounded-lg"
              placeholder="New Password"
              style="background-color: #333333"
            />
            <label for="confirmpass"> New Password Again </label>
            <input
              type="password"
              class="p-2 rounded-lg"
              id="confirmpass"
              placeholder="Confirm New Password"
              style="background-color: #333; border: #333"
            />
            <div
              class="btn btn-primary btn-block"
              id="submit-password"
              style="margin-top: 15px"
            >
              Submit
            </div>
          </div>
        </div>
      </div>

      <br />
      <br />
    </section>

    <footer
      class="p-4 sticky shadow md:flex md:p-6 justify-center mt-auto"
      style="background-color: #111111"
    >
      <span class="text-sm text-white text-center"
        >© 2023
        <a href="https://highspeedtrucking.ca/" class="hover:underline"
          >HighSpeedTrucking</a
        >. All Rights Reserved.
      </span>
    </footer>
    <script>
      $("#avatar").change(() => {
        const file = $("#avatar")[0].files[0];

        if (file) {
          const editAvatarImg = document.getElementById("editAvatarImg");

          if (file.size <= Math.floor(2 * 1024 * 1024)) {
            var fr = new FileReader();
            fr.onload = function () {
              editAvatarImg.src = fr.result;
              file1 = fr.result;

              $.ajax({
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ avatar: fr.result }),
                url: "/settings/avatar",
              })
                .done(() => {
                  window.location.reload();
                })
                .fail(() => {
                  Swal.fire({
                    title: "Error!",
                    text: "There was an error updating your info. Please try again later.",
                    icon: "error",
                    background: "#333",
                  });
                });
            };
            fr.readAsDataURL(file);
          } else {
            alert("Larger than 2MB");
          }
        }
      });

      $("#submit-password").click(() => {
        const password = $("#password").val();
        const confirmpass = $("#confirmpass").val();

        if (password !== confirmpass) {
          Swal.fire({
            title: "Error!",
            text: "Passwords do not match.",
            icon: "error",
            background: "#333",
          });
          return;
        }

        const data = {
          password: password,
        };

        $.ajax({
          type: "POST",
          data: JSON.stringify(data),
          contentType: "application/json",
          url: "/settings/password",
        })
          .done(() => {
            Swal.fire({
              title: "Success!",
              text: "Your password was updated!",
              icon: "success",
              background: "#333",
            });
          })
          .fail(() => {
            Swal.fire({
              title: "Error!",
              text: "There was an error updating your info. Please try again later.",
              icon: "error",
              background: "#333",
            });
          });
      });

      $("#submit-userinfo").click(() => {
        const username = $("#username").val();
        const email = $("#email").val();

        if (username == "" || email == "") {
          Swal.fire({
            title: "Error!",
            text: "Please fill out all fields.",
            icon: "error",
            background: "#333",
          });
          return;
        }

        const data = {
          username: username,
          email: email,
        };

        $.ajax({
          url: "/settings/user",
          contentType: "application/json",
          type: "POST",
          data: JSON.stringify(data),
        })
          .done(() => {
            window.location.reload();
          })
          .fail(() => {
            Swal.fire({
              title: "Error!",
              text: "There was an error updating your info. Please try again later.",
              icon: "error",
              background: "#333",
            });
          });
      });
    </script>
  </body>
</html>
